.prdStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 1s;
}

.prdStyle:hover {
    transform: scale(1.05, 1.05);
}

.tituloProduto {
    text-align: center;
    margin-top: 20px !important;
    font-weight: bold !important;
}