.prdStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tituloPrd{
    font-weight: 450 !important; 
    text-align: center;
    margin-top: 30px;
    color: rgb(63, 62, 62);
}
