.linha{
    width: 100%;
    border-bottom: 1px solid hsla(34, 9%, 66%, 0.493);
}

.imgxepa{
    margin: 15px;
    max-width: 60%;
}

.img{
    margin: 30px !important;
}

.titulo1{
    width: 197px;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 3px;
    color: white;
}

.Metodospagamento{
    margin-top:30px;
    margin-bottom: 30px;
}

.titulo2{
    background-color:#2b2b2b;
    color: white;
    font-size: 1px;
}

.link{
    text-decoration: none !important;
}

.Btx{
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    margin: 30px !important;
    padding: 15px 45px;
    text-align: center;
    transition: all .3s ease-in-out !important;
    background-size: 200% auto;
    color: white !important;            
    border-radius: 50px !important;
    font-size: 10px  !important ;
    box-shadow: 0 1px 2px black;
    text-decoration: none !important;

}


.Btx:hover{
    transform:scale(1.10,1.10);
    color: #fff !important;
    text-decoration: none !important;
}
