.cards {
    display: flex ;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.tituloproduto {
    text-align: center;
    margin-top: 60px;
    color: 'rgb(63, 62, 62)';
    font-weight: 450;
    color: #2b2b2b;
}

.box-apoio {
    background-color: #FEEAC8;
    margin-bottom: 120px;
    box-shadow: 2px 2px 10px rgba(39, 39, 39, 0.527);
}

.grid-textos{
    display: flex;
    align-items: center;
}

.img-agricultor {
    width: 50%;
}

.box-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.link{
    text-decoration: none !important;
}

.btn-mais {
    width: 200px;
    background-image: linear-gradient(45deg, #0EC6B6 0%, #23D39B 55%, #618cf7 90%);
    color: white !important;
    border-radius: 50px !important;
    padding: 12px 48px;
    font-size: 18px !important;
    font-weight: 200 !important;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35) !important;
}