@media(min-width: 1620px) {
    #carousel {
        justify-content: center;
    }
}

#carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(21, 178, 178);
    border-radius: 30px;
    width: 50px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: aqua;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(5px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(20px);
    }
}

article img {
    width: 300px;
    height: 250px;
    margin-left: 3px;
    animation: fade, bounce infinite alternate;
    -webkit-animation: bounce infinite alternate;
    animation-duration: 4s;
}

.an1 {
    display: flex;
    position: absolute;
}

.an1 p {
    background-color: rgba(128, 128, 128, 0.397);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(72, 72, 223, 0.797);
    width: 75px;
    height: 20px;
    animation: go-back 2s;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes go-back {

    0%,
    100%,
    from {
        transform: translateX(1000px);
    }

    50% {
        box-shadow:
            -10px 0 0 #999,
            -20px 0 0 #777,
            -30px 0 0 #666,
            -40px 0 0 #555,
            -50px 0 0 #444;
    }

    to {
        transform: translateX(0);
    }
}

.imgCarrossel {
    width: 120px;
    height: 120px;
    margin: 30px;
}