.cor-barra2{
    background: linear-gradient(135deg, #0cc5b7 0%,#2bd891 100%) !important;
    flex-wrap: wrap;
}

.botão-navbar2{
    border-radius: 5px 5px  !important;
    margin-left: 0;
    margin-right: 5px;
    font-weight: 500;
    height: 35px;
    text-transform: uppercase;
    border: medium none;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    opacity: 1 !important;
    background: linear-gradient(135deg, #ff934b 0%,#ff5e62 100%);
    cursor: pointer;
}

.barra2{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.barra-de-pesquisa{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
}

.logo{
    width:17rem;
    padding-top: 10px;
    padding-bottom: 10px;
}